.container{
	display:flex;
	justify-content:center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    margin: auto;
	font-family:Arial, sans-serif;
}

.cell {
    width: 100px;
    height: 100px;
    background: lightgray;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
	
}

.cell:hover {
    background: gray;
}
#startScreen{
	display:flex;
	flex-direction:column;
	max-width:200px
}
#submit{
	height:40px;
	margin-top:10px
}